{% extends "base.html" %} {% block title %} CloudProg21-FinalProject-Team14 {% endblock %} {% block header %}
<ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="/">運送清單</a>
    </li>
    <li class="nav-item">
        <li><a class="nav-link " href="/addDelivery">新增訂單</a></li>
    </li>
</ul>
{% endblock %} {% block main %}


<style type="text/css">
    /* Set the size of the div element that contains the map */

</style>

<div class="storelist">
    <div class="row">
        {% for delivery in deliverys %}
        <div class="col-sm-12">
            <div class="card store-card">
                <div class=" card-body">
                    <h3 class="card-title" id='id-{{ loop.index }}'>訂購人: {{ delivery.name }}</h3>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="card-text">訂購人ID: {{ delivery.id }} </p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="card-text">商品名稱: {{ delivery.productname }} </p>
                                </div>
                                <div class="col-sm-6">
                                    <span class="card-text">運送狀態:</span>
                                    <span class="badge badge-pill badge-warning"> {{ delivery.condition }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="card-text">地址: {{ delivery.address}} </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/{{ delivery.id }}/send_notify" class="btn btn-primary btn-block" type="submit" pb-role="submit">通知收貨</a>
                                    <a href="/{{ delivery.id }}/upload_file_page" class="btn btn-primary btn-block" type="button" pb-role="submit">上傳圖片</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
