{% extends "base.html" %} {% block title %} CloudProg21-FinalProject-Team14 {% endblock %} {% block header %}
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  href="#">Smart Boxes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/">運送清單</a>
            </li>
            <li class="nav-item">
                <li><a class="nav-link " href="/addDelivery">新增訂單</a></li>
            </li>
        </ul>
    </div>
</nav> -->
<!-- <ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="/">運送清單</a>
    </li>
    <li class="nav-item">
        <li><a class="nav-link " href="/addDelivery">新增訂單</a></li>
    </li>
</ul> -->
{% endblock %} {% block main %}

<style type="text/css">
    /* Set the size of the div element that contains the map */
    :root {
        --iconw:40px;
      }

    @media(max-width:1000px){
        .deliver-table{
            display:none
        }
      }
    @media(min-width:1000px){
        .storelist{
            display:none
        }
      }
    .deliver-table{
        box-shadow: 0px 0px 20px rgb(0 0 0 / 15%);
        background-color:white;
        padding: 20px;
    }
    .transporting{
        background-image: url("{{ url_for('static', filename='image/delivery.png') }}");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        width:var(--iconw);
        height:var(--iconw);
    }    
    .delivering{
        background-image: url("{{ url_for('static', filename='image/package.png') }}");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        width:var(--iconw);
        height:var(--iconw);
    }
    .arrived
    {
        background-image: url("{{ url_for('static', filename='image/delivery-box.png') }}");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        width:var(--iconw);
        height:var(--iconw);
    }
    .operation-btn{
        font-size:0.8rem;
        padding: 3px 3px;
    }
</style>
<script>
    function changetagcolor(){
        a=document.querySelectorAll(".delivery-condition")
        console.log(a)
        b=document.querySelector(".delivery-condition")
        console.log(b)
        a.forEach(function(item){   
            console.log(item)
            if(item.innerHTML==' 運送中'){
                item.setAttribute('class','badge badge-pill badge-warning transportingTag')
            }
            if(item.innerHTML==' 交貨中'){
                item.setAttribute('class','badge badge-pill badge-info deliveringTag')
            }
            if(item.innerHTML==' 已送達'){
                item.setAttribute('class','badge badge-pill badge-success arrivedTag')
            }
        })

        a=document.querySelectorAll(".delivery-condition")
        console.log(a)
    }

    window.addEventListener("load", function(event) {
          console.log("All resources finished loading!");
          changetagcolor()
          $("<div class='transporting'></div>").insertBefore('.transportingTag');
          $("<div class='delivering'></div>").insertBefore('.deliveringTag');
          $("<div class='arrived'></div>").insertBefore('.arrivedTag');

    });
    $(document).ready( function () {
        var table= $('#example').DataTable( {
            "initComplete": function(settings, json) {
            },
            language: {
                "sProcessing": "處理中...",
                "sLengthMenu": "顯示 _MENU_ 項結果",
                "sZeroRecords": "沒有匹配結果",
                "sInfo": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                "sInfoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                "sInfoFiltered": "(由 _MAX_ 項結果過濾)",
                "sInfoPostFix": "",
                "sSearch": "搜尋:",
                "sUrl": "",
                "sEmptyTable": "表中資料為空",
                "sLoadingRecords": "載入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首頁",
                    "sPrevious": "上頁",
                    "sNext": "下頁",
                    "sLast": "末頁"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            buttons: [ 'copy', 'excel', 'colvis' ]
        });
        table.buttons().container().appendTo( '#example_wrapper .col-md-6:eq(0)' );
    });
</script>

<div class="container">
    <div class="deliver-table" id="deliver-table">

    <table class="table table-hover" id="example">
      <thead>
        <tr>
          <th>訂購人</th>
          <th>商品</th>
          <th>訂購時間</th>
          <th>聯絡資訊</th>
          <th>運送狀態</th>
          <th>操作按鈕</th>
        </tr>
      </thead>
      <tbody>
        {% for delivery in deliverys %}
        <tr>
          <td> {{ delivery.name }}</td>
          <td>{{ delivery.productname }}</td>
          <td>{{ delivery.creattime }} </td>
          <td>{{ delivery.address}}
            <br/>{{ delivery.phone}}
          </td>
          <td><span class="badge badge-pill delivery-condition"> {{ delivery.delivery_condition }}</span></td>
          <td>
            <span href="/{{ delivery.id }}/send_notify?creattime={{ delivery.creattime }}" class="btn btn-primary btn-block operation-btn" type="submit" pb-role="submit">通知收貨</span>
            <span href="/{{ delivery.id }}/upload_file_page" class="btn btn-primary btn-block operation-btn" type="button" pb-role="submit">上傳圖片</span>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

  </div>
  

<div class="storelist">
    <div class="row">
        {% for delivery in deliverys %}
        <div class="col-sm-12">
            <div class="card store-card">
                <div class=" card-body">
                    <h3 class="card-title" id='id-{{ loop.index }}'>訂購人: {{ delivery.name }}</h3>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="card-text">ID: {{ delivery.id }} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="card-text">地址: {{ delivery.address}} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="card-text">商品名稱: {{ delivery.productname }} </p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="card-text">訂購時間: {{ delivery.creattime }} </p>
                                </div>   
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="card-text">顧客電話: {{ delivery.phone}} </p>
                                </div>
                             <div class="col-sm-6">
                                    <span class="card-text">運送狀態:</span>
                                    <span class="badge badge-pill delivery-condition"> {{ delivery.delivery_condition }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/{{ delivery.id }}/send_notify?creattime={{ delivery.creattime }}" class="btn btn-primary btn-block operation-btn" type="submit" pb-role="submit">通知收貨</a>
                                    <a href="/{{ delivery.id }}/upload_file_page" class="btn btn-primary btn-block operation-btn" type="button" pb-role="submit">上傳圖片</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
