{% extends "base.html" %} {% block title %} CloudProg21-Hackathon-Team14 {% endblock %} {% block header %}
<ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <li><a class="nav-link" href="/login">店家登入</a></li>
    </li>
    <li class="nav-item">
        <li><a class="nav-link " href="/sign_up">餐廳註冊</a></li>
    </li>
</ul>
{% endblock %} {% block main %}

<div class="jumbotron">
    <h1>The next big thing is coming...</h1>
    <p class="lead">We're pretty thrilled to unveil our latest creation. Sign up below to be notified when we officially launch!</p>
    <p><a class="btn btn-lg btn-success" data-toggle="modal" href="#signupModal">Sign up today</a></p>
</div>

<div class="storelist">
    <div class="row">
        <div class="col-sm-6">
            <div class="card store-card">
                <div class=" card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="card-title" id='storeName-1'>麥當勞酒吧</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="card-text">人數: 5 / 30 </p>
                                    <p class="card-text">距離: 1.5km </p>
                                    <p class="card-text">TAG:<span class="badge badge-pill badge-info"> 漢堡 </span> <span class="badge badge-pill badge-info"> 酒 </span>
                                    </p>
                                    <a href="/storepage/麥當勞酒吧" class="btn btn-primary">詳細資訊</a>
                                </div>
                                <div class="col-sm-6">
                                    <image src="{{ url_for('static', filename='image/麥當勞酒吧.jpg') }}" style="width: 100%; "></image>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card store-card ">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="store-card card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card store-card ">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card store-card ">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}