<!DOCTYPE html>
<html>

<head>
    <title>Add Map</title>

    <style type="text/css">
        /* Set the size of the div element that contains the map */
        
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>

</head>


<body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div style="width: 50%;" id="map"></div>

    <input type="text " id="pac-input">


</body>

</html>