{% extends "base.html" %} {% block title %} {{storename}} {% endblock %} {% block header %}
<ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
        <a class="nav-link " href="/">Home</a>
    </li>
    <li class="nav-item">
        <li><a class="nav-link" href="/login">店家登入</a></li>
    </li>
    <li class="nav-item">
        <li><a class="nav-link" href="/sign_up">餐廳註冊</a></li>
    </li>
</ul>
{% endblock %} {% block main %}

<style rel='stylesheet'>
    .dish-name {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 0;
        line-height: 1.25;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .menu-card {
        padding: 16px;
        display: flex;
        background: #fff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .08);
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        width: 100%;
        margin: 0.5rem;
    }
    
    .menu-card .item-root {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .menu-card .price-line {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        white-space: nowrap;
        margin-top: 4px;
    }
    
    .list-title {
        display: block;
        margin-bottom: 1rem;
    }
</style>

<div class="row list-title ">
    <div class="col-12 ">
        <h1>更新店家詳細資料</h1>
    </div>
</div>


<form id="updateForm" role="form" action="/storepage/{{storename}}/updateFormPost" method="post">
    <hr class="my-3 ">
    <div class="row list-title">
        <div class="col-12 ">
            <h2>詳細資料</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 ">
                <div class="card menu-card ">
                    <div class="item-root ">
                        <div class="dish-name ">
                            <span>店名</span>
                        </div>
                        <div class="price-line ">
                            <span>{{info.store}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card menu-card ">
                    <div class="item-root ">
                        <div class="dish-name ">
                            <span>現場人數</span>
                        </div>
                        <div class=" ">
                            <input style="width: 30%;" value="{{info.person_now}}" />
                            <span>/</span>
                            <input style="width: 30%;" value="{{info.person_max}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card menu-card ">
                    <div class="item-root ">
                        <div class="dish-name ">
                            <span>餐廳電話</span>
                        </div>
                        <div class="price-line ">
                            <input value="{{contact.phone}}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 ">
                <div class="card menu-card ">
                    <div class="item-root ">
                        <div class="dish-name ">
                            <span>地址</span>
                        </div>
                        <div class="price-line ">
                            <input value="{{contact.address}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="card menu-card ">
                    <div class="item-root ">
                        <div class="dish-name ">
                            <span>標籤</span>
                        </div>
                        <div>
                            <input type="text" {% for tag in info.tag %} value="{{tag}}" {% endfor %}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-3 ">

    <div class="row list-title ">
        <div class="col-12 ">
            <h2>一般餐點</h2>
        </div>
    </div>


    <div id="normal-menu-list ">
        <div class="row ">
            {% for meal in normal %}
            <div class="col-sm-6 ">
                <div class="card menu-card ">
                    <div class="item-root ">
                        <div class="row " style=" margin-bottom: 0.5rem; ">
                            <div class=" col-sm-12">
                                <input style="width: 100%;" value="{{ meal[0] }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-6">
                                <span>$</span>
                                <input style="width: 30%;" value="{{ meal[1] }}">
                            </div>
                            <div class=" col-sm-6 text-right">
                                <button style="width: 25px; height: 25px; padding: 0; " type="button" class="btn btn-primary">+</button>
                                <button style="width: 25px; height: 25px; padding: 0; " type="button" class="btn btn-danger">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <hr class="my-3 ">
    <div class="row list-title ">
        <div class="col-12 ">
            <h2>優惠套餐</h2>
        </div>
    </div>

    <div id="discount-menu-list ">
        <div class="row ">
            {% for meal in discount %}
            <div class="col-sm-6 ">
                <div class="card menu-card ">
                    <div class="item-root ">
                        <div class="row " style=" margin-bottom: 0.5rem; ">
                            <div class=" col-sm-12">
                                <input style="width: 100%;" value="{{ meal[0] }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-6">
                                <span>$</span>
                                <input style="width: 30%;" value="{{ meal[1] }}">
                            </div>
                            <div class=" col-sm-6 text-right">
                                <button style="width: 25px; height: 25px; padding: 0; " type="button" class="btn btn-primary">+</button>
                                <button style="width: 25px; height: 25px; padding: 0; " type="button" class="btn btn-danger">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row " style="margin-bottom: 1rem;">
        <div class="col-12 text-right">
            <button id="submit" type="submit" class="btn btn-primary btn-lg">更新資料</button>
        </div>
    </div>

</form>

{% endblock %}