Resources:
  HW2table:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema: 
        HashKeyElement:
          AttributeName: "email"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
      TableName: "HW2table"
  HW2Queue: 
    Type: AWS::SQS::Queue
    Properties: 
      QueueName: "HW2Queue"
files:
  "/var/app/app.config":
    mode: "000444"
    owner: "apache"
    group: "apache"
    content: |
      AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
      STARTUP_SIGNUP_TABLE = '`{ "Ref" : "HW2table"}`'
option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "nobody@amazon.com"
  "aws:elasticbeanstalk:application:environment":
    "APP_CONFIG": "/var/app/app.config"
    "FLASK_DEBUG": "false"
    "THEME": "flatly"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
